*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

:root{
    --clr1: #020659;
    --clr2: #0424D9;
    --clr3: #030A8C;
    --clr4: #800216;
    --clr5: #C85C80;
}

.presentation{
    font-family:"Poppins", sans-serif;
    background: url('../pics/classes.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    animation: slideIn 0.7s forwards ease-out;
    position:absolute;
    top:0%;
    left:100%;
    overflow: hidden;
}

.slideIn{
    width: 100vw;
    height: 100vh;
    background: #020659;
}

@keyframes slideIn{
    0%{left:100%}
    100%{left:0%}
}

.arrow-back{
    position:absolute;
    top:2%;
    left:2%;
    font-size: 2rem;
    color: white;
    z-index:10;
}
.arrow-back::before{
    content:'';
    position:absolute;
    width:2.5rem;
    height:2.5rem;
    border-radius:50%;
    background: var(--clr3);
    top:50%;
    left:50%;
    transform: translate(-48%,-53%);
    z-index:-1;
}
.arrow-back:hover::before{
    background:var(--clr5);
}


.part1{
    width:30vw;
    height:45vh;
    position: absolute;
    top:25%;
    left:12%;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration:2s;
    animation-fill-mode: forwards;
    animation-delay:1s;
}
.part1 h1{
    margin-bottom:1rem;
}

.part2{
    position:absolute;
    bottom:-100%;
    right:-50%;
    width:100vw;
    height:65vh;
    overflow:hidden;
    animation: up 1.5s ease forwards;
    animation-delay:1s;
}

@keyframes up{
    0%{bottom:-100%}
    100%{bottom:0%}
}


.part2 img{
    width:500px;
    bottom:30%;;
    height:65vh;
    z-index:1;
}

@keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
}


@media only screen and (max-width:600px){
    
    .part1{
        width:80%;
        height:20%;
        font-size:1rem;
        right:0%;
        top:10%;
        margin:0px;
        text-align: center;
    }

    .part1 p{
        font-size:0.8rem;
    }
    
    .part2 img{
        position:absolute;
        width:500px;
        bottom:-15%;
        right:-20%;
        transform:scale(0.7);
    }

    .part2 {
        width:100vw;
        right:0%;
    }
}
@media only screen and (min-width:550px) and (max-width:700px){
    
    .part1{
        width:80%;
        height:20%;
        font-size:1rem;
        right:0%;
        top:10%;
        margin:0px;
        text-align: center;
    }

    .part1 p{
        font-size:1rem;
    }
    
    .part2 img{
        position:absolute;
        width:550px;
        height: 70vh;
        bottom:-15%;
        right:-20%;
        transform:scale(0.7);
    }

    .part2 {
        width:80vw;
        height:80vh;
        right:0%;
    }
}
@media only screen and (min-width:700px) and (max-width:950px){
    
    .part1{
        top:5%;
    }
    .part2 img{
        position:absolute;
        width:600px;
        height: 90vh;
        bottom:-17%;
        right:0%;
        transform:scale(0.7);
    }

    .part2 {
        width:80vw;
        height:80vh;
        right:0%;
    }
}